In [1]:
import pandas as pd

df=pd.read_csv('assets/times_walk.csv')

In [2]:
import geopandas as gpd

gdf=gpd.read_file('data/sections_gipuzkoa_demographic_women.geojson')

In [3]:
print(gdf.head())

        CUSEC  CUMUN Seccion Distrito    CUDIS     Municipio  Total  \
0  2000101001  20001     001       01  2000101  Abaltzisketa    141
1  2000201001  20002     001       01  2000201         Aduna    236
2  2000301001  20003     001       01  2000301  Aizarnazabal    376
3  2000401001  20004     001       01  2000401      Albiztur    155
4  2000501001  20005     001       01  2000501        Alegia    847

   0-19 años  20-34 años  35-49 años  50-64 años  65-84 años  85+ años  \
0         26          17          29          42          22         5
1         61          31          60          45          28        11
2         97          41         100          73          57         8
3         41          15          36          32          26         5
4        172         116         167         199         156        37

                                            geometry
0  MULTIPOLYGON (((-2.09892 43.06533, -2.0989 43....
1  MULTIPOLYGON (((-2.03912 43.2023, -2.03915 43....
2  MULTIPOLYGON (((-2.20725 43.27294, -2.20714 43...
3  MULTIPOLYGON (((-2.11304 43.1257, -2.11322 43....
4  MULTIPOLYGON (((-2.09007 43.1124, -2.08947 43....

In [4]:
# drop geometry, CUMUN, CUDIS, Seccion, Distrito columns
gdf.drop(columns=['geometry', 'CUMUN', 'CUDIS', 'Seccion', 'Distrito'], inplace=True)

In [5]:
print(gdf.head())

        CUSEC     Municipio  Total  0-19 años  20-34 años  35-49 años  \
0  2000101001  Abaltzisketa    141         26          17          29
1  2000201001         Aduna    236         61          31          60
2  2000301001  Aizarnazabal    376         97          41         100
3  2000401001      Albiztur    155         41          15          36
4  2000501001        Alegia    847        172         116         167

   50-64 años  65-84 años  85+ años
0          42          22         5
1          45          28        11
2          73          57         8
3          32          26         5
4         199         156        37

In [7]:
ref =gpd.read_file('assets/buildings_by_section.geojson')
print(ref.head())

  Erreferentz       CUSEC  CUMUN Seccion Distrito    CUDIS  \
0     8594095  2006907027  20069     027       07  2006907
1     8594099  2006907027  20069     027       07  2006907
2     8594100  2006907027  20069     027       07  2006907
3     8796114  2006907023  20069     023       07  2006907
4     8796136  2006907023  20069     023       07  2006907

                Municipio                                           geometry
0  Donostia/San Sebastián  MULTIPOLYGON (((-1.94835 43.29971, -1.94834 43...
1  Donostia/San Sebastián  MULTIPOLYGON (((-1.94828 43.29886, -1.94831 43...
2  Donostia/San Sebastián  MULTIPOLYGON (((-1.94794 43.29851, -1.94797 43...
3  Donostia/San Sebastián  MULTIPOLYGON (((-1.92793 43.31524, -1.92823 43...
4  Donostia/San Sebastián  MULTIPOLYGON (((-1.92885 43.31418, -1.92859 43...

In [8]:
# drop geometry, CUMUN, Seccion, Distrito, CUDIS columns
ref.drop(columns=['geometry', 'CUMUN', 'Seccion', 'Distrito', 'CUDIS'], inplace=True)

In [11]:
print(ref.head())

  Erreferentz       CUSEC               Municipio total_women
0     8594095  2006907027  Donostia/San Sebastián        None
1     8594099  2006907027  Donostia/San Sebastián        None
2     8594100  2006907027  Donostia/San Sebastián        None
3     8796114  2006907023  Donostia/San Sebastián        None
4     8796136  2006907023  Donostia/San Sebastián        None

In [10]:
ref['total_women']=None

In [12]:
# for Total column in gdf, assign a float value from 0.1 to 1 according to the Total Number (e.g. the max value should have a 1)
# the number assigned is the opacity
gdf['Total']=gdf['Total'].astype(float)
gdf['Total']=gdf['Total']/gdf['Total'].max()

In [13]:
print(gdf.head())

        CUSEC     Municipio     Total  0-19 años  20-34 años  35-49 años  \
0  2000101001  Abaltzisketa  0.103372         26          17          29
1  2000201001         Aduna  0.173021         61          31          60
2  2000301001  Aizarnazabal  0.275660         97          41         100
3  2000401001      Albiztur  0.113636         41          15          36
4  2000501001        Alegia  0.620968        172         116         167

   50-64 años  65-84 años  85+ años
0          42          22         5
1          45          28        11
2          73          57         8
3          32          26         5
4         199         156        37

In [29]:
geojson=gpd.read_file('assets/prueba.geojson')
print(geojson.head())

  Erreferentz       CUSEC  CUMUN Seccion Distrito    CUDIS  \
0     8594095  2006907027  20069     027       07  2006907
1     8594099  2006907027  20069     027       07  2006907
2     8594100  2006907027  20069     027       07  2006907
3     8796114  2006907023  20069     023       07  2006907
4     8796136  2006907023  20069     023       07  2006907

                Municipio color_1_walk color_1_bike color_3_car color_4_pt  \
0  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
1  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
2  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
3  Donostia/San Sebastián      #6a1717      #6a1717     #8f0340    #D50000
4  Donostia/San Sebastián      #6a1717      #6a1717     #8f0340    #D50000

  color_5_walk color_6_bike                                           geometry
0      #FFA500      #FFFF00  MULTIPOLYGON (((-1.94835 43.29971, -1.94834 43...
1      #FFA500      #FFFF00  MULTIPOLYGON (((-1.94828 43.29886, -1.94831 43...
2      #FFA500      #FFFF00  MULTIPOLYGON (((-1.94794 43.29851, -1.94797 43...
3      #FFA500      #FFFF00  MULTIPOLYGON (((-1.92793 43.31524, -1.92823 43...
4      #FFA500      #FFFF00  MULTIPOLYGON (((-1.92885 43.31418, -1.92859 43...

In [30]:
# for each gdf row, find the corresponding ref CUSEC row and copy the opacity column value to total_women column
for index, row in gdf.iterrows():
    geojson.loc[geojson['CUSEC']==row['CUSEC'], 'total_women']=row['Total']

print(geojson.head())

  Erreferentz       CUSEC  CUMUN Seccion Distrito    CUDIS  \
0     8594095  2006907027  20069     027       07  2006907
1     8594099  2006907027  20069     027       07  2006907
2     8594100  2006907027  20069     027       07  2006907
3     8796114  2006907023  20069     023       07  2006907
4     8796136  2006907023  20069     023       07  2006907

                Municipio color_1_walk color_1_bike color_3_car color_4_pt  \
0  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
1  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
2  Donostia/San Sebastián      #D50000      #6a1717     #8f0340    #D50000
3  Donostia/San Sebastián      #6a1717      #6a1717     #8f0340    #D50000
4  Donostia/San Sebastián      #6a1717      #6a1717     #8f0340    #D50000

  color_5_walk color_6_bike  \
0      #FFA500      #FFFF00
1      #FFA500      #FFFF00
2      #FFA500      #FFFF00
3      #FFA500      #FFFF00
4      #FFA500      #FFFF00

                                            geometry  total_women
0  MULTIPOLYGON (((-1.94835 43.29971, -1.94834 43...     0.790323
1  MULTIPOLYGON (((-1.94828 43.29886, -1.94831 43...     0.790323
2  MULTIPOLYGON (((-1.94794 43.29851, -1.94797 43...     0.790323
3  MULTIPOLYGON (((-1.92793 43.31524, -1.92823 43...     0.498534
4  MULTIPOLYGON (((-1.92885 43.31418, -1.92859 43...     0.498534

In [32]:
# save to geojson
geojson.to_file('assets/prueba_demog.geojson', driver='GeoJSON')

In [33]:
# save to csv
geojson.to_csv('assets/prueba_demog.csv', index=False)